.partcontainer {
  overflow-x: scroll;
  white-space: nowrap;
  justify-content: flex-start;
  padding: 20px 12px 20px 24px;
}

.part2 {
  filter: drop-shadow(0 1px 15px rgba(0, 16, 75, 0.2));
  margin: 24px 0;
  transition-duration: 300ms;
  cursor: pointer;
  width: 275px;
  position: relative;
  display: inline-block;
  height: 100%;

  & > g > path {
    fill: #FEFEFE;
  }

  & > text {
    fill: #212528;
  }

  &:hover {
    margin: 18px 12px 24px 12px;
    transition-duration: 300ms;
    filter: drop-shadow(0 1px 20px rgba(0, 16, 75, 0.2));
    & > g > path {
      fill: #EEEEEE;
      transition-duration: 300ms;
    }
  }

  &.create:hover {
    margin: 18px 12px 24px 12px;
  }

  &.selected {
    margin: 12px 12px 24px 12px;
    transition-duration: 300ms;
    filter: drop-shadow(0 1px 20px rgba(0, 16, 75, 0.3));
    & > g > path {
      fill: #EFEFEF;
    }
  }

  &.disabled {
    filter: drop-shadow(0 1px 10px rgba(0, 16, 75, 0.2));
    cursor: default;
    & > g > path {
      fill: #F4F4F4;
      transition-duration: 300ms;
    }
    & > text {
      fill: #8D8F91;
    }

    &:hover {
      margin: 22px 0 24px 0;
      transition-duration: 300ms;
    }
  }

}

.color {
  fill: #FFFFFF;
}

