.rightbar {
	width: 360px;
	padding: 32px 40px;
	border-left: 1px solid #f6f7fa;
}

.rightbar .top {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 60px;
}

.rightbar .top h4 {
	font-size: 20px;
	color: #0e1b42;
	font-weight: 500;
}

.rightbar .form-wrapper .form input {
	width: 340px;
	height: 44px;
	border-radius: 44px;
	background: rgba(202, 206, 231, 0.14);
	font-size: 14px;
	padding: 0 20px 0 50px;
	box-sizing: border-box;
}

.rightbar .form-wrapper .form .btn-submit button {
	width: 340px;
	height: 44px;
	border-radius: 44px;
	background: rgba(202, 206, 231, 0.14);
	font-size: 14px;
	box-sizing: border-box;
}

.rightbar .form-wrapper .form .train-types select {
	width: 340px;
	height: 44px;
	border-radius: 44px;
	background: rgba(202, 206, 231, 0.14);
	font-size: 14px;
	padding: 0 20px 0 50px;
	box-sizing: border-box;
}

.rightbar .form-wrapper .form .departure-time,
.rightbar .form-wrapper .form .train-types,
.rightbar .form-wrapper .form .departure,
.rightbar .form-wrapper .form .train-number {
	position: relative;
}

.rightbar .form-wrapper .form label {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	color: #8f94b8;
}

.rightbar .form-wrapper .form input::placeholder {
	color: #8f94b8;
}

.rightbar .form-wrapper .form .departure,
.rightbar .form-wrapper .form .departure-time,
.rightbar .form-wrapper .form .train-types {
	margin: 20px 0 20px;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 0.4rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.rbt-menu > .dropdown-item {
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu {
	box-sizing: border-box;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

.dropdown-menu.show {
	display: block;
}

.rbt-menu-pagination-option {
	text-align: center;
}

.rbt-aux {
	right: 22px !important;
	top: 2px !important;
}
