.header label {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	color: #8f94b8;
}

.header input {
	width: 340px;
	height: 44px;
	border-radius: 44px;
	background: rgba(202, 206, 231, 0.14);
	font-size: 14px;
	padding: 0 20px 0 50px;
	box-sizing: border-box;
}

.header input::placeholder {
	color: #8f94b8;
}
