.content {
	flex: 1;
	display: flex;
}

.inner {
	flex: 1;
	padding: 32px 40px;
	overflow: auto;
}

.fa-plus:before {
	margin-left: 5px;
}

.inner .inner-box .content-title {
	position: relative;
	margin-bottom: 60px;
}

.inner .inner-box .content-title span {
	font-size: 14px;
	color: #8186ad;
}

.inner .inner-box .content-title span i {
	font-size: 11px;
	margin-left: 8px;
}

.inner .inner-box {
	margin-bottom: 60px;
}

.content-title h4 {
	font-size: 20px;
	color: #0e1b42;
	font-weight: 500;
}

.inner .content-title {
	padding-bottom: 6px;
	display: flex;
	border-bottom: 1px solid #f6f7fa;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 35px;
}

.inner .content-title::before {
	content: "";
	width: 38px;
	height: 4px;
	background: #c4e2e6;
	border-radius: 4px;
	position: absolute;
	bottom: -2px;
	left: 0;
}

.add-btn {
	cursor: pointer;
}

